<%- include("partials/header") %>


<div class="ui main text container">
	<h1 style="margin-top: 100px;" class="ui header">
		RESTful Blog App	
	</h1>
	<p>
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime ex dolore odit accusantium dolorum magni minus ad quia, sequi laboriosam soluta ab, cumque doloribus illo aperiam earum, excepturi iure nobis!
		Possimus temporibus minus quos, molestiae placeat tempore earum optio ea illum! Placeat, sapiente nam unde ipsum harum, expedita necessitatibus dolore minus ratione cupiditate molestias delectus laudantium officiis quas iusto! Eius?
		Sed, illo commodi. Vel, asperiores, temporibus tempore accusamus sint delectus rerum explicabo alias quaerat laboriosam dolorem veritatis reprehenderit similique consectetur necessitatibus iste ipsa corrupti! Possimus nihil soluta dolorum voluptate ratione.
	</p>
	<div class="ui segment items">
		<% blogs.forEach(function(Blog){  %>
		<div class="item">
			<div class="image">
				<img src="<%= Blog.image %>">
			</div>
			<div class="content">
				<h2 class="ui header">
					<%=	Blog.title %>
				</h2>
				<div class="meta mb-2">
					<span><%= Blog.created.toDateString() %></span>
				 </div>
				<div class="description">
					<p>
						<%= Blog.body.substring(0,70) %>
					</p>
				</div>
				<div class="extra">
					<a class="ui basic violet button" href="/blogs/<%= Blog.id %>">Show Post <i class="external square alternate icon"></i></a>
				</div>
			</div>
		</div>
		<div class="ui divider"></div>
		<%	});  %>
	</div>

	


</div>


<%- include("partials/footer") %>



	